<% if logged_in?(:site_admin) %>
  <span class="pull-right">
    <%= link_to icon('pencil-square-o'), edit_question_path(question), class: "btn btn-warning btn-sm"%>
    <%= link_to icon('trash-o'), question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"%>
  </span>
<% end %>