<div class="blog-post">
  <h2 class="blog-post-title"><%= question.title %></h2>
  <span class="faq-part">
    <p class="badge badge-default">Section: <%= question.topic_id %></p>
    <button type="button" class="btn news-button"><%= link_to "View the answer", question %></button>
  </span>
  <%= render partial: 'questions/admin_links', locals: {question: question}  %>
</div>
