<div class="sidebar-module sidebar-module-inset">
  <h4>Couldn't find an answer?</h4>
  <p>Feel free to <%= link_to "contact us", contacts_path %>.</p>
  <p>We will be happy to assist you whether you have any questions.</p>
</div>
<div class="sidebar-module">
  <h4>Sections</h4>
  <ol class="list-unstyled">
    <li>Topics</li>
  </ol>
</div> 