<div class="col-md-4 col-sm-6 padleft-right">
  <figure class="imghvr-fold-up">
    <%= image_tag kid.main_image, class: "img-responsive" %>
    <figcaption>
      <%= link_to icon('info-circle'), kid_path(kid), class: "adults-icon"%>
      <h3><%= kid.title %></h3> 
      <p><%= kid.subtitle %></p>
    </figcaption>
  </figure>
</div>