<section id ="organisations" class="section-padding">
  <%= render "carousel_kid" %>
  <div class="container">
    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
      <%= render @kids %>
    </div>
  </div>
</section>