<section id ="organisations" class="section-padding">
  <%= render "carousel_kid" %>
  <div class="container">
    <div class="row">
      <%= render @kids %>
      <%= paginate @kids %>
    </div>
  </div>
</section>