<div class= 'form-group nested-fields'>
  <%= f.text_field :name, class:'form-control adult-list', placeholder: 'Name' %>
  <%= link_to_remove_association 'Remove a course type', f, class: 'btn btn-warning btn-sm btn-sec' %>
</div>