<section id ="organisations" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2 class="badge badge-custom">Courses for Adults</h2>
        <%= link_to icon('plus-square'), new_adult_path, class: "btn btn-info type-list btn-sm" if logged_in?(:site_admin) %>
        <hr class="bottom-line">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <%= render @adults %>
      <%= paginate @adults %>
    </div>
  </div>
</section>