<section id="work-shop" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>New course</h2>
        <hr class="bottom-line">
      </div>
      <%= render 'form', adult: @adult %>
    </div>
  </div>
</section>