<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">About</h1>
    <p class="lead blog-description">Our awsome school</p>
    <ul class="lead blog-description">
      <li>we don't cheat</li>
      <li>we give up-to-date knowledge</li>
    </ul>
  </div>
</div>
