<!--/our school-->
<section id="section-about">
	<div class="container">
		<div class="about">
			<div class="row mar-bot40">
				<div class="col-md-offset-3 col-md-6">
					<div class="title">
						<div class="section-header">
						 <h2 class="section-heading animated" data-animation="bounceInUp">Our School</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
		    <div class="row-slider">
					<div class="col-lg-6 row-align-center">
						<div class="slide-body" data-group="slide">
							<%= image_tag "icon.png", width: "50%", height: "350", class: "img-responsive"%>
						</div>
					</div>
					<div class="col-lg-6 ">
						<div class="company mar-left10">
							<h4>Our school is for these who have nothing to do.</h4>
							<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Fusce dapibus, tellus ac cursus etiam porta sem malesuada magna mollis euismod. commodo, Faccibus mollis interdum. Morbi leo risus, porta ac, vestibulum at eros.
								Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Fusce dapibus, tellus ac.</p>
						</div>
						<div class="list-style">
							<div class="row">
								<div class="col-lg-6 col-sm-6 col-xs-12">
									<ul>
										<li>Sollicitudin Vestibulum</li>
										<li>Fermentum Pellentesque</li>
										<li>Sollicitudin Vestibulum</li>
										<li>Nullam id dolor id nibh</li>
									</ul>
								</div>
								<div class="col-lg-6 col-sm-6 col-xs-12">
									<ul>
										<li>Sollicitudin Vestibulum</li>
										<li>Fermentum Pellentesque</li>
										<li>Sollicitudin Vestibulum</li>
										<li>Nullam id dolor id nibh</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>
<!--/our school-->