<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Contact</h1>
    <p class="lead blog-description">My phone number <%= number_to_phone "0669274404" %> </p>
    <p class="lead blog-description">My e-mail is <a href = "mailto:wernerfosspilot@gmail.com?subject=PortfolioContact""email me">wernerfosspilot@gmail.com</a></p>
    <p class="lead blog-description">We charge <%= currency("150") %> </p>
  </div>
</div>
