<h1>Contact</h1>
<p>Find me on Facebook</p>
<p>My phone number <%= number_to_phone "0669274404" %> </p>
<p>My e-mail is <a href = "mailto:wernerfosspilot@gmail.com?subject=PortfolioContact""email me">wernerfosspilot@gmail.com</a></p>
<p>We charge <%= currency("150") %> </p>