<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Courses</h1>
    <p class="lead blog-description"><%= link_to "Courses for Children", kids_path %></p>
    <p class="lead blog-description"><%= link_to "Courses for Adults", adults_path %></p>
  </div>
</div>
