<% if current_user %>
  <h2>Hi, <%= current_user.first_name %> </h2>
<% end %>

<h1>LA school (language alliance)</h1>
<p>This is a home page</p>

<% if current_user %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Register", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
