<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Hi, <%= current_user.first_name %></h1>
    <p class="lead blog-description">LA school (language alliance)</p>
  </div>
</div>